/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #4e659154; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.commonInputs,
.a {

  background-color: transparent;
  padding: 4%;
  border: 0.1rem solid #3b00dd;
  border-radius: 0.4rem;
  color: white;
  width: 100%;
  font-size: 1rem;

}

.bg {

  background-color: rgb(78, 14, 255);
  
}

.a {
  background-color: rgb(78, 14, 255);
  color: white;

}


.App-link {
  color: #61dafb;
}